@page
@model IndexModel
@using WebApplication1.Pages.Shared
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div id="MyComponent">
        @(await Html.RenderComponentAsync<Component>(RenderMode.ServerPrerendered))
    </div>
</div>
